@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Reastaurant Rater is the premiere place to get restaurant reviews.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Using Restaurant Rater</h2>
        <p>
            This is where I'd put lorem ipsum if this were Sublime but I don't know if there's a shortcut for it in Visual Studio.
        </p>
        <p><a class="btn btn-default" href=#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find the best food!</h2>
        <p>
            This is where I'd put lorem ipsum if this were Sublime but I don't know if there's a shortcut for it in Visual Studio.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Restaurant Rating</h2>
        <p>
            This is where I'd put lorem ipsum if this were Sublime but I don't know if there's a shortcut for it in Visual Studio.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>